.list-checkbox {
    max-height: 500px;
    width: 100%;
    overflow: auto;
}

.checkbox-list-sidebar:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05)
}


/* districts */
.districts-listcheckbox {
    padding-left: 15%;
    max-height: 300px;
    overflow-y: auto;
}

.regions-list-checkbox {
    display: flex;
    flex-direction: row;
    padding-left: 3rem;
}